@page
@model AspNetCoreFundamentals_Coursework.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h1>Client Restaurants</h1>

<table class="table" id="restaurants">

</table>

@section Scripts {

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>

    <script>
        const cuisines = ['None',
            'Italian',
            'Mexican',
            'Chinese',
            'Pizza'];
        $(function () {
            $.ajax("/api/restaurants/", { method: "get" })
                .then((response) => {
                    $("#restaurants").dataTable({
                        data: response,
                        columns: [
                            { "data": "name" },
                            { "data": "location" },
                            { "data": "cuisine", "render": function (data) { return cuisines[data]; }}
                        ],
                    });
                });
        });
    </script>
}